name: CI - AGRO

on:
  push:
    branches:
    - main
    - master
    - release/*

jobs:
  build-and-test:
    name: Build e Testes Automatizados
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Setup do .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restaurar pacotes
      run: dotnet restore AgroSolutions.sln

    - name: Buildar solução
      run: dotnet build AgroSolutions.sln --no-restore --configuration Release

    - name: Rodar testes
      run: dotnet test AgroSolutions.sln --no-build --configuration Release --logger "trx"
